.root {
  display: block;
  unicode-bidi: isolate;
}

.box {
  position: relative;
  margin: 0 auto;
  width: 375px;
  height: 812px;
  background: white;
}

.back{
    position: absolute;
    margin-top: 32px;
    margin-left: -325px;
    cursor: pointer;
}

.movecr{
    margin-top: 20px;
    margin-left: 20px;
}

.explain{
    margin-top: -20px;
    margin-left: 20px;
}

.reviewtext{
    margin-top: 10px;
    margin-left: 30px;
}

.review{
  height: 100px;
  width: 100%;
}

.main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-height: 200px; 
  overflow-y: auto;
  scrollbar-width: none; 
  margin-left: 18px;
  margin-top: -10px;
  gap: 15px;
}

.main1::-webkit-scrollbar {
  display: none; 
}

.reviewbox {
  width: 100%; 
  min-height: 150px; 
  height: auto;
  max-height: 300px;
  background-color: #f2e8f5;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.large-text {
  position: absolute;
  top: -27px;
  left: 0;
  font-size: 20px;
  font-weight: bold;
}

.large-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 430%; 
  border-bottom: 1.5px solid #D9D9D9; 
}

.small-text {
  position: relative;
  top: 30px;
  font-size: 13px;
  color: #8E8E8E;
  margin-top: 10px; 
}

.top-section {
  position: relative; 
}

.middle-section {
  position: relative; 
}


.location {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90%;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  background-color: #f2e8f5;
  color: #5A0D7A;
  cursor: pointer;
}


